# Composer Lock File
composer.lock

# Artisan Script
artisan

# Markdown Files
*.md

# Database Files
*.sql
*.mwb

# Configs
app/config/database.php

# Directories
/vendor/
files/

# Logs & Sessions
app/storage/

# Netbeans Project Metadata
nbproject/
